{% comment %} <!DOCTYPE html>
<html lang="ja">
  <body>
    <form method="POST" action="{% url 'walkary:create_account' %}">
      {% csrf_token %}

      <!-- Existing User Fields -->
      <label>ユーザーID</label>
      {{ user_form.username }}
      {{ user_form.username.errors }}

      <label>パスワード</label>
      {{ user_form.password1 }}
      {{ user_form.password1.errors }}

      <label>パスワード(確認)</label>
      {{ user_form.password2 }}
      {{ user_form.password2.errors }}

      <!-- New Profile Fields -->
      <label>名前</label>
      {{ profile_form.name }}
      {{ profile_form.name.errors }}
      <button type="submit">登録</button>
    </form>
  </body>
</html>
 {% endcomment %}



<!DOCTYPE html>
<html lang="ja">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'walkary/css/Signin-Design.css' %}">
</head>
<body>
    <div id="form-ui">
        <form method="POST" action="{% url 'walkary:create_account' %}" id="form">
          {% csrf_token %}
            <div id="form-body">
                <div id="welcome-lines">
                    <div id="welcome-line-1">Walkary</div>
                    <div id="welcome-line-2">新規登録</div>
                </div>
                <div id="input-area">
                  <div class="form-inp">
                        {{ user_form.username.as_widget(attrs={'placeholder': 'ユーザーID'}) }}
                        <span class="error">{{ user_form.username.errors }}</span>
                    </div>
                    <div class="form-inp">
                        {{ user_form.password1.as_widget(attrs={'placeholder': 'パスワード'}) }}
                      <span class="error">{{ user_form.password1.errors }}</span>
                    </div>
                      <div class="form-inp">
                          {{ user_form.password2.as_widget(attrs={'placeholder': '確認用パスワード'}) }}
                          <span class="error">{{ user_form.password2.errors }}</span>
                      </div>
                      <div class="form-inp">
                          {{ profile_form.name.as_widget(attrs={'placeholder': 'ユーザー名'}) }}
                          <span class="error">{{ profile_form.name.errors }}</span>
                      </div>
                  </div>
                  <div id="submit-button-cvr">
                      <button id="submit-button" type="submit">登録</button>
                  </div>
                  <div class="bars">
                      <div class="bar"></div>
                      <div class="bar"></div>
                      <div class="bar walkary-bar">Walkary</div>
                      <div class="bar"></div>
                      <div class="bar"></div>
                  </div>
              </div>
          </form>
      </div>
</body>
</html>

