<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'walkary/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'walkary/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'walkary/css/common.css' %}">
    <title>Walkary - ログイン</title>
  </head>
  <body>
    <header>
      <h1>Walkary</h1>
    </header>

    {% if form.errors %}
      <p class="error-message">ユーザーID, パスワードが一致しません．</p>
    {% endif %}
    <form class="auth-form" method="POST" action="{% url 'walkary:login' %}">
      {% csrf_token %}
      <!-- ユーザーIDフィールド -->
      <div class="form-group">
        <label class="form-label">ユーザーID</label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>

      <!-- パスワードフィールド（パスワードトグルを追加） -->
      <div class="form-group" style="position: relative;">
        <label class="form-label">パスワード</label>
        {{ form.password }}
        <img src="{% static 'walkary/icons/visibility_off.png' %}" class="password-toggle" id="togglePassword">
        {{ form.password.errors }}
      </div>

      <button class="login-btn" type="submit">ログイン</button>

      <div class="form-switch">
        アカウントをお持ちでない方は<a href="{% url 'walkary:create_account' %}">新規登録</a>
      </div>
    </form>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const togglePassword = document.getElementById('togglePassword');
        const passwordField = togglePassword.previousElementSibling;
        
        togglePassword.addEventListener('click', function() {
          if (passwordField.type === 'password') {
            passwordField.type = 'text';
            togglePassword.src = "{% static 'walkary/icons/visibility.png' %}";
          } else {
            passwordField.type = 'password';
            togglePassword.src = "{% static 'walkary/icons/visibility_off.png' %}";
          }
        });
      });
    </script>
  </body>
</html>
