<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walkary</title>
    <link rel="stylesheet" href="{% static 'walkary/css/home.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-wUdCx7jMv78-AZ_8LCo9_qPyQJBYmHQ&libraries=geometry"></script>
    <script src="{% static 'walkary/js/map.js' %}"></script>
    <script src="{% static 'walkary/js/update_remaining.js' %}"></script>
</head>
<body>
    <div class="container">
        <main>
            <div class="circle">
                <p>目標 <span id="target-goal">{{ goal }}</span>m</p>
                <p>現在 <span id="walked-distance"></span></p>
                <p>残り： <span id="remaining"></span></p>
            </div>
            <div class="info-buttons">
                <button class="info-button" id="goal-walk">X kcal(歩いた場合)</button>
                <button class="info-button" id="calories-burned">X kcal(走った場合)</button>
            </div>
            <button onclick="location.href='{% url 'walkary:map' %}'">ルートを作成する</button>
        </main>
        <nav>
            <ul>
                <li><a href="{% url 'walkary:home'%}" class="active">ホーム</a></li>
                <li><a href="{% url 'walkary:map' %}">マップ</a></li>
                <li><a href="{% url 'walkary:graph' %}">グラフ</a></li>
                <li><a href="{% url 'walkary:mypage' %}">マイページ</a></li>
            </ul>
        </nav>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const walkedDistance = localStorage.getItem('walked_distance');
            const today = new Date().toISOString().split('T')[0];

            if (walkedDistance) {
                document.getElementById('walked-distance').innerText = `${JSON.parse(walkedDistance)} m`;
                // 保存されたデータを取得
                const walkedData = JSON.parse(localStorage.getItem('walked_data')) || [];
                // 既存データに今日の日付がなければ追加
                const existingDataIndex = walkedData.findIndex(data => data.date === today);
                if (existingDataIndex === -1) {
                    walkedData.push({ date: today, steps: JSON.parse(walkedDistance) });
                } else {
                    walkedData[existingDataIndex].steps = JSON.parse(walkedDistance);
                }
                // 更新して保存
                localStorage.setItem('walked_data', JSON.stringify(walkedData));
            } else {
                document.getElementById('walked-distance').innerText = "0 m";
            }
        });
    </script>
</body>
</html>
